<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #1e1e1e; /* Dark background color */
        color: #ffffff; /* Light text color */
      }
    </style>
  </head>
  <body>
    <h1>THIS IS THE JOB LISTING PAGE</h1>
    <form method="post" action="{% url 'workbench' %}">
      {% csrf_token %}
      <input
        type="text"
        name="input_profession"
        placeholder="Enter Profession"
      />

      <label>
        <input type="radio" name="search_option" value="manual" checked />
        Manual Search
      </label>

      <label>
        <input type="radio" name="search_option" value="profile" /> Search from
        Profile
      </label>

      <input type="submit" value="Search" />
    </form>
    {% for tuple in paginated_items %}
    <ul>
      {% for title, link in tuple %}
      <li>
        <a href="{{ link }}" target="_blank">{{ title }}</a>
        <form
          method="POST"
          action="{% url 'save_job' job_id=forloop.counter0 %}"
        >
          {% csrf_token %}
          <input
            type="hidden"
            name="title_{{ forloop.parentloop.counter0 }}"
            value="{{ title }}"
          />
          <input
            type="hidden"
            name="link_{{ forloop.parentloop.counter0 }}"
            value="{{ link }}"
          />
          <button type="submit">Save Job</button>
        </form>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
    <p>Loading...</p>
    <div class="pagination">
      <span class="step-links">
        {% if paginated_items.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ paginated_items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ paginated_items.number }} of {{ paginator.num_pages }}.
        </span>

        {% if paginated_items.has_next %}
        <a href="?page={{ paginated_items.next_page_number }}">next</a>
        <a href="?page={{ paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </body>
</html>
